.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
_book/
*.html
*.pdf
images/
data/
docs/libs/dt-core-1.10.12/css/jquery.dataTables.extra.css
docs/libs/dt-core-1.10.12/css/jquery.dataTables.min.css
_book/libs/gitbook-2.6.7/css/plugin-bookdown.css
docs/libs/gitbook-2.6.7/css/plugin-bookdown.css
_book/libs/gitbook-2.6.7/css/plugin-fontsettings.css
docs/libs/gitbook-2.6.7/css/plugin-fontsettings.css
docs/libs/gitbook-2.6.7/css/plugin-highlight.css
_book/libs/gitbook-2.6.7/css/plugin-highlight.css
_book/libs/gitbook-2.6.7/css/plugin-search.css
docs/libs/gitbook-2.6.7/css/plugin-search.css
docs/libs/gitbook-2.6.7/css/style.css
docs/style.css
_book/libs/gitbook-2.6.7/css/style.css
style.css
_book/style.css
toc.css
docs/libs/gitbook-2.6.7/js/app.min.js
_book/libs/gitbook-2.6.7/js/app.min.js
docs/libs/datatables-binding-0.2/datatables.js
docs/libs/htmlwidgets-0.9/htmlwidgets.js
docs/libs/dt-core-1.10.12/js/jquery.dataTables.min.js
_book/libs/jquery-2.2.3/jquery.min.js
docs/libs/jquery-2.2.3/jquery.min.js
_book/libs/gitbook-2.6.7/js/plugin-bookdown.js
docs/libs/gitbook-2.6.7/js/plugin-bookdown.js
_book/libs/gitbook-2.6.7/js/plugin-search.js
docs/libs/gitbook-2.6.7/js/plugin-search.js
