.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
_bookdown_files
_bookdown_files/*.*
/.quarto/
06-AdvGraphics_cache
06-AdvGraphics_files
07-Basestats_cache
07-Basestats_files
10-Maps_cache
10-Maps_files
11-ThematicMaps_cache
11-ThematicMaps_files
