@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&subset=cyrillic');

body { font-family: 'Scada', serif; font-size: 20pt; }
p { font-size: 20pt; }
ul { font-size: 20pt; }
ol { font-size: 20pt; }
h1, h2, h3 {
  font-family: 'Cuprum';
  font-weight: bold;
}

img {
  margin-bottom: 0;
  padding-bottom: 0;
}

MathJax { color: red; }