@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Menlo:400,400i,700,700i&subset=cyrillic');

body { font-family: 'Scada', serif; font-size: 18pt; }
p { font-size: 18pt; margin-top: 3;}
ul { font-size: 18pt;}
ol { font-size: 18pt; }
h3 { margin-top: 0;}
.caption { font-size: 16pt; }
.right-column { padding: 0px; }
.left-column { font-size: 12pt; color: black;}
.red { color: crimson; }
.blue { color: steelblue; }
.large { font-size: 22pt; }
.small { font-size: 16pt;}
.remark-inline-code { color: darkgreen; background-color: #d9f2d9; font-size: 16pt; font-family: 'Menlo'; padding: 3px; border-radius: 5px;}
.remark-code { font-family: 'Menlo'; font-size: 13pt;}
.left-column>p{
  font-size: 18pt;
}
.left-60 {
  width: 60%;
  float: left;
}
.right-40 {
  width: 40%;
  float: right;
}
.left-40 {
  width: 40%;
  float: left;
}
.right-60 {
  width: 60%;
  float: right;
}

h1, h2, h3 {
  font-family: 'Cuprum';
  font-weight: bold;
}
table { font-size: 16pt; }
img {
  margin-bottom: 0;
  padding-bottom: 0;
}

MathJax { color: red; }